
/* .butoon-have{
  margin-top: 30px;
  display: flex;
  
} */
/* 
.butoon-have .button {
  border: none;
  background-color: #D22525;
  color: white;
  border-radius: 6px;
  height: 60px;
  width: 200px;
  font-size: 20px;
} */
/*  
 .butoon-have button{
  text-decoration: none !important;
  color: white;
  height: 60px !important;
  width: 200px !important;
  background-color: #D22525;
  text-align: center;
  padding: 20px 0;  
  border-radius: 6px;
  border: none;

 }

@media screen and (max-width: 768px) {
  .butoon-have {
    display: block !important;
    margin-left: 25px;
  } */
/*   
 .butoon-have .butoon-ha{
  text-decoration: none !important;
  color: white;
  height: 60px !important;
  width: 200px !important;
  background-color: #D22525;
  text-align: center;
  padding: 20px 0;  
  border-radius: 6px;

 } */
