

.appetizer{
  height: auto;
  background-color:#D9D9D9;
}
.appetizer h1{
  font-size: 36px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #D22525 !important;
  text-decoration-line: underline;
  padding: 50px 0;
}

.item-appet{
  display: flex;
  background-color: #F5BABA;
  margin: 20px;
  justify-content: space-between;
}
.item-appet p{
  color: black;
  padding: 20px;
  font-size: 20px;
}
.item-appet span{
  padding: 25px;
  font-size: 20px;
  cursor: pointer;
}
.main-app:last-child{
  padding-bottom: 50px;
}
